@model Arpgo.Basketball.Web.Areas.Team.Models.TeamViewModel
@{
    ViewBag.Title = "Team Management";
}

<div ng-controller="ManageTeamController" class="row">
    <div ui-view></div>
</div>

@Html.Action("Inline", "AngularTemplates")
