@{
    ViewBag.Title = "The Lockers";
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p>
        Welcome to The Lockers, here you will recieve all the information you need regarding your team. You will be able to update your profile, manage your documents, and view a variety of information.
    </p>
</div>