@{
    ViewBag.Title = "The Courtside";
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p>
        Welcome to The Courtside, here you will recieve all the information you need regarding your team.<br />
    </p>
</div>
